<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<include resource="org/springframework/boot/logging/logback/defaults.xml"/>

	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<Pattern>${CONSOLE_LOG_PATTERN}</Pattern>
			<charset>UTF8</charset>
		</encoder>
	</appender>

	<appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<!-- file>/opt/${project.artifactId}/log/${project.artifactId}.log</file -->
		<file>log/calclog.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<!-- daily rollover -->
			<fileNamePattern>log/calclog.log-%d{yyyy-MM-dd}</fileNamePattern>
			<!-- keep 30 days' worth of history capped at 3GB total size -->
			<maxHistory>30</maxHistory>
			<totalSizeCap>1GB</totalSizeCap>
		</rollingPolicy>        

		<append>true</append>
		<encoder>
			<pattern>%d [%thread] %-5level %logger{35} - %msg%n</pattern>
		</encoder>
	</appender>

	<logger name="org.springframework" level="WARN"/>

	<root level="info">
		<appender-ref ref="STDOUT"/>
		<appender-ref ref="FILE" />
	</root>

</configuration>
